<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>

    <meta name="description" content="{{&basics.shortDescription}}">
    <meta name="keywords" content="{{basics.keywords}}">
    <meta name="author" content="{{basics.name}}">

    <meta property="og:title" content="{{basics.name}} - {{basics.title}}"/>
    <meta property="og:description" content="{{&basics.shortDescription}}">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{&basics.site}}"/>
    <meta property="og:image" content="{{&basics.site}}/{{&img.path}}/alili-opengraph.jpg?v={{&version}}"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="600"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="{{&basics.twitter}}">
    <meta name="twitter:site" content="{{&basics.site}}">
    <meta name="twitter:image" content="{{&basics.site}}/{{&img.path}}/alili-hd.jpg?v={{&version}}">
    <meta name="twitter:title" content="{{basics.name}} - {{basics.title}}">
    <meta name="twitter:description" content="{{&basics.shortDescription}}">

    <title>{{basics.title}}</title>

    <link rel="canonical" href="{{&basics.siteUrl}}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{&img.path}}/apple-touch-icon.png?v={{&version}}">
    <link rel="icon" type="image/png" href="{{&img.path}}/favicon-32x32.png?v={{&version}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{&img.path}}/favicon-16x16.png?v={{&version}}" sizes="16x16">
    <link rel="manifest" href="{{&img.path}}/manifest.json?v={{&version}}">
    <link rel="mask-icon" href="{{&img.path}}/safari-pinned-tab.svg?v={{&version}}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="{{basics.caption}}">
    <meta name="application-name" content="{{basics.caption}}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="css/index.css?v={{&version}}">
</head>

<body class="my-resume" itemscope itemtype="http://schema.org/Person">

<div class="print-img">
    <img src="{{&img.path}}/{{img.logos}}/eco-logo.jpg?v={{&version}}"
         alt="{{img.caption.eco}}">
</div>

<header class="left-part">

    <div class="responsive-row responsive-center">
        <img class="my-look bounce-in" src="{{&img.path}}/alili-hd.jpg?v={{&version}}"
             alt="{{img.caption.face}} + ' ' + {{&version}}" itemprop="image">

        <div class="padding-responsive responsive-column responsive-center">
            <h1 class="bigger-font-with-padding desktop-typing" itemprop="name">{{basics.name}}</h1>
            <h2 class="bigger-font-with-padding dark-blue" itemprop="jobTitle">{{basics.job}}</h2>
            <h3 class="responsive-hide bottom-padding">{{contact.title}}</h3>
            <div class="align-row">
                <a href="{{&contact.linkedin}}" target="_blank" rel="noreferrer" itemprop="sameAs"><img
                        src="{{&img.path}}/{{img.logos}}/linkedin-logo.svg?v={{&version}}"
                        alt="{{img.caption.linkedin}}"></a>

                <a href="{{&contact.github}}" target="_blank" rel="noreferrer" itemprop="sameAs"><img
                        src="{{&img.path}}/{{img.logos}}/github-logo.svg?v={{&version}}"
                        alt="{{img.caption.github}}"></a>
            </div>
        </div>
    </div>
</header>

<section class="right-part">

    <section>
        <h2 class="title">{{basics.summary}}</h2>
        <div class="normal-padding" itemprop="description">
            {{#basics.description}}<p class="description">{{&.}}</p>{{/basics.description}}
        </div>
    </section>

    <section>
        <h2 class="title">{{skills.title}}</h2>
        <h3 class="subtitle">{{skills.solidBasics}}</h3>
        <ul class="normal-padding">
            {{#skills.main}}
                <li class="my-techs">
                    <img src="{{&img.path}}/{{img.logos}}/{{imgSrc}}?v={{&version}}" alt="{{&imgCaption}}">
                    <p>{{&imgCaption}}</p>
                </li>
            {{/skills.main}}
        </ul>

        <h3 class="subtitle">{{skills.basicKnowledge}}</h3>
        <ul class="normal-padding">
            {{#skills.second}}
                <li class="my-techs">
                    <img src="{{&img.path}}/{{img.logos}}/{{imgSrc}}?v={{&version}}" alt="{{&imgCaption}}">
                    <p>{{&imgCaption}}</p>
                </li>
            {{/skills.second}}
        </ul>
    </section>

    <section>
        <h2 class="title">{{&work.portfolio}}</h2>
        <h3 class="subtitle" itemprop="worksFor">{{&work.consulting}}</h3>
        <div class="normal-padding">
            <div class="big-bottom-padding">
                <h4 class="blue-font">{{&work.osb.name}}</h4>
                <ul>
                    {{#work.osb.tasks}}
                        <li class="bottom-padding">
                            {{&description}}
                        </li>
                    {{/work.osb.tasks}}
                </ul>
                <h4 class="italic-font">{{work.environment}}</h4>
                <ul>{{#work.osb.skills}}
                    <li class="green-pin">{{.}}</li>{{/work.osb.skills}}</ul>
            </div>
            <div class="big-bottom-padding">
                <h4 class="blue-font">{{&work.allianz.name}}</h4>
                <ul>
                    {{#work.allianz.tasks}}
                        <li class="bottom-padding">
                            {{&description}}
                        </li>
                    {{/work.allianz.tasks}}
                </ul>
                <h4 class="italic-font">{{work.environment}}</h4>
                <ul>{{#work.allianz.skills}}
                    <li class="green-pin">{{.}}</li>{{/work.allianz.skills}}</ul>
            </div>
            <div class="big-bottom-padding">
                <h4 class="blue-font">{{&work.edf.name}}</h4>
                <ul>
                    {{#work.edf.tasks}}
                        <li class="bottom-padding">
                            {{&description}}
                        </li>
                    {{/work.edf.tasks}}
                </ul>

                <h4 class="italic-font">{{work.environment}}</h4>
                <ul>{{#work.edf.skills}}
                    <li class="green-pin">{{.}}</li>{{/work.edf.skills}}</ul>
            </div>
            <div class="big-bottom-padding">
                <h4 class="blue-font">{{&work.texa.name}}</h4>

                <ul>
                    {{#work.texa.tasks}}
                        <li class="bottom-padding">
                            {{&description}}
                        </li>
                    {{/work.texa.tasks}}
                </ul>

                <h4 class="italic-font">{{work.environment}}</h4>
                <ul>{{#work.texa.skills}}
                    <li class="green-pin">{{.}}</li>{{/work.texa.skills}}</ul>
            </div>

            <p class="small-padding"><b>{{&work.internship}}</b></p>
            <div class="bottom-padding">
                <h4 class="blue-font">{{work.zenika.name}}</h4>

                <ul>
                    {{#work.zenika.internship.tasks}}
                        <li class="bottom-padding">
                            {{&description}}
                        </li>
                    {{/work.zenika.internship.tasks}}
                </ul>

                <h4 class="italic-font">{{work.environment}}</h4>
                <ul>{{#work.zenika.internship.skills}}
                    <li class="green-pin">{{.}}</li>{{/work.zenika.internship.skills}}</ul>
            </div>
        </div>
    </section>

    <section>
        <h2 class="title-with-margin-top">{{education.title}}</h2>
        <section itemprop="alumniOf" itemscope itemtype="http://schema.org/Organization">
            <h3 class="subtitle" itemprop="name">{{&education.summary}}</h3>
            <div class="normal-padding">
                <a href="https://www.esiea.fr/" target="_blank" rel="noreferrer" itemprop="url"><img
                        src="{{&img.path}}/{{img.logos}}/esiea-logo.png?v={{&version}}"
                        alt="{{img.caption.esiea}}"></a>

                <h4 class="small-padding">{{education.pro.title}}</h4>
                <ul>{{#education.pro.skills}}
                    <li class="green-pin">{{.}}</li>{{/education.pro.skills}}</ul>
            </div>
        </section>

        <h2 class="title-with-margin">{{education.languages.title}}</h2>
        <div class="normal-padding align-row">
            <img src="{{&img.path}}/{{img.logos}}/france-logo.svg?v={{&version}}" alt="{{img.caption.french}}">
            <img src="{{&img.path}}/{{img.logos}}/angleterre-logo.svg?v={{&version}}"
                 alt="{{img.caption.english}}">
            <p class="small-padding">{{&education.languages.english}}</p>
        </div>
    </section>

    <section>
        <h2 class="title-with-margin">{{hobbies.title}}</h2>
        <div class="normal-padding">
            {{#hobbies.list}}
                <img src="{{&img.path}}/{{img.hobbies}}/{{imgSrc}}?v={{&version}}" alt="{{&imgCaption}}">
            {{/hobbies.list}}
        </div>
    </section>

</section>

</body>
</html>
