<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>

    <meta name="description" content="{{basics.description}}">
    <meta name="keywords" content="{{basics.keywords}}">
    <meta name="author" content="{{basics.name}}">

    <meta property="og:title" content="{{basics.name}} - {{basics.title}}"/>
    <meta property="og:description" content="{{basics.description}}">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{&basics.site}}"/>
    <meta property="og:image" content="{{&basics.site}}/{{&img.path}}/alili-hd.png?v={{&version}}"/>
    <meta property="og:image:width" content="708"/>
    <meta property="og:image:height" content="708"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="{{&basics.twitter}}">
    <meta name="twitter:site" content="{{&basics.site}}">
    <meta name="twitter:image" content="{{&basics.site}}/{{&img.path}}/alili-hd.png?v={{&version}}">
    <meta name="twitter:title" content="{{basics.name}} - {{basics.title}}">
    <meta name="twitter:description" content="{{basics.description}}">

    <title>{{basics.title}}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{&img.path}}/apple-touch-icon.png?v={{&version}}">
    <link rel="icon" type="image/png" href="{{&img.path}}/favicon-32x32.png?v={{&version}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{&img.path}}/favicon-16x16.png?v={{&version}}" sizes="16x16">
    <link rel="manifest" href="{{&img.path}}/manifest.json?v={{&version}}">
    <link rel="mask-icon" href="{{&img.path}}/safari-pinned-tab.svg?v={{&version}}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="{{basics.caption}}">
    <meta name="application-name" content="{{basics.caption}}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="css/index.css?v={{&version}}">
</head>
<body class="my-resume">

<header class="left-part">

    <section class="responsive-row-header">

        <figure>
            <img class="my-look" src="{{&img.path}}/alili-hd.png?v={{&version}}"
                 alt="{{img.caption.face}}">
        </figure>

        <section class="padding-responsive">
            <h1 class="bigger-font-with-padding" title="{{&version}}">{{basics.name}}</h1>
            <h1 class="bigger-font-with-padding">{{basics.job}}</h1>
            <section class="my-techs">
                <figure>
                    <a href="{{&contact.linkedin}}"><img
                            src="{{&img.path}}/{{img.logos}}/linkedin-logo.svg?v={{&version}}"
                            alt="{{img.caption.linkedin}}" title="{{img.caption.linkedin}}"></a>
                </figure>
                <figure>
                    <a href="{{&contact.github}}"><img src="{{&img.path}}/{{img.logos}}/github-logo.svg?v={{&version}}"
                                                       alt="{{img.caption.github}}" title="{{img.caption.github}}"></a>
                </figure>
            </section>
            <h2 class="bigger-font-with-padding">{{skills.title}}</h2>
            <section class="my-techs">
                <figure>
                    <img src="{{&img.path}}/{{img.logos}}/js-logo.svg?v={{&version}}" alt="{{img.caption.js}}"
                         title="{{img.caption.js}}">
                </figure>
                <figure>
                    <img src="{{&img.path}}/{{img.logos}}/html-logo.svg?v={{&version}}" alt="{{img.caption.html}}"
                         title="{{img.caption.html}}">
                </figure>
                <figure>
                    <img src="{{&img.path}}/{{img.logos}}/css-logo.svg?v={{&version}}" alt="{{img.caption.css}}"
                         title="{{img.caption.css}}">
                </figure>
                <figure>
                    <img src="{{&img.path}}/{{img.logos}}/git-logo.svg?v={{&version}}" alt="{{img.caption.git}}"
                         title="{{img.caption.git}}">
                </figure>
                <figure>
                    <img src="{{&img.path}}/{{img.logos}}/agile-logo.png?v={{&version}}" alt="{{img.caption.agile}}"
                         title="{{img.caption.agile}}">
                </figure>
                <figure>
                    <img src="{{&img.path}}/{{img.logos}}/angular-logo.svg?v={{&version}}" alt="{{img.caption.angular}}"
                         title="{{img.caption.angular}}">
                </figure>
                <figure>
                    <img src="{{&img.path}}/{{img.logos}}/react-logo.svg?v={{&version}}" alt="{{img.caption.react}}"
                         title="{{img.caption.react}}">
                </figure>
                <figure>
                    <img src="{{&img.path}}/{{img.logos}}/spring-logo.png?v={{&version}}" alt="{{img.caption.spring}}"
                         title="{{img.caption.spring}}">
                </figure>
                <h3 class="left-padding" title="{{img.caption.tdd}}">{{skills.tdd}}</h3>
            </section>
        </section>
    </section>

    <section class="responsive-row-header spaced">
        <section>
            <h2 class="bigger-font-with-padding">{{education.diploma}}</h2>
            <figure>
                <a href="https://www.esiea.fr/"><img src="{{&img.path}}/{{img.logos}}/esiea-logo.png?v={{&version}}"
                                                     alt="{{img.caption.esiea}}" title="{{img.caption.esiea}}"></a>
            </figure>
        </section>
        <section class="padding-responsive">
            <h2 class="bigger-font-with-padding">{{education.languages.title}}</h2>
            <section class="my-techs">
                <figure>
                    <img src="{{&img.path}}/{{img.logos}}/france-logo.svg?v={{&version}}" alt="{{img.caption.french}}"
                         title="{{img.caption.french}}">
                </figure>
                <figure>
                    <img src="{{&img.path}}/{{img.logos}}/angleterre-logo.svg?v={{&version}}"
                         alt="{{img.caption.english}}" title="{{img.caption.english}}">
                </figure>
            </section>
        </section>
    </section>

</header>

<section class="right-part">
    <h1 class="title">{{work.portfolio}}</h1>
    <h2 class="subtitle">{{work.consulting}}</h2>
    <section class="normal-padding">
        <section>
            <h4 class="blue-font">{{work.allianz.name}}</h4>
            <ul>
                {{#work.allianz.tasks}}
                    <li>
                        {{&description}}
                    </li>
                {{/work.allianz.tasks}}
            </ul>
            <h4 class="italic-font">{{work.environment}}</h4>
            <div>{{#work.allianz.skills}}<span class="orange-pin">{{.}}</span>{{/work.allianz.skills}}</div>
        </section>
        <section>
            <h4 class="blue-font">{{work.edf.name}}</h4>
            <ul>
                {{#work.edf.tasks}}
                    <li>
                        {{&description}}
                    </li>
                {{/work.edf.tasks}}
            </ul>

            <h4 class="italic-font">{{work.environment}}</h4>
            <div>{{#work.edf.skills}}<span class="orange-pin">{{.}}</span>{{/work.edf.skills}}</div>
        </section>
        <section>
            <h4 class="blue-font">{{work.texa.name}}</h4>

            <ul>
                {{#work.texa.tasks}}
                    <li>
                        {{&description}}
                    </li>
                {{/work.texa.tasks}}
            </ul>

            <h4 class="italic-font">{{work.environment}}</h4>
            <div>{{#work.texa.skills}}<span class="orange-pin">{{.}}</span>{{/work.texa.skills}}</div>
        </section>

        <h3>{{work.internship}}</h3>
        <section>
            <h4 class="blue-font">{{work.zenika.name}}</h4>

            <ul>
                {{#work.zenika.internship.tasks}}
                    <li>
                        {{&description}}
                    </li>
                {{/work.zenika.internship.tasks}}
            </ul>

            <h4 class="italic-font">{{work.environment}}</h4>
            <div>{{#work.zenika.internship.skills}}
                <span class="orange-pin">{{.}}</span>{{/work.zenika.internship.skills}}</div>
        </section>
        <section>
            <h4 class="blue-font">{{work.mediametrie.name}}</h4>
            <ul>
                {{#work.mediametrie.tasks}}
                    <li>
                        {{&description}}
                    </li>
                {{/work.mediametrie.tasks}}
            </ul>

            <h4 class="italic-font">{{work.environment}}</h4>
            <div>{{#work.mediametrie.skills}}<span class="orange-pin">{{.}}</span>{{/work.mediametrie.skills}}</div>
        </section>
    </section>

    <h1 class="title-with-margin">{{education.title}}</h1>
    <h2 class="subtitle">{{&education.summary}}</h2>

    <section class="normal-padding">

        <p>{{&education.languages.english}}</p>
        <h4>{{education.pro.title}}</h4>
        <div>{{#education.pro.skills}}<span class="orange-pin">{{.}}</span>{{/education.pro.skills}}</div>
        <h4>{{skills.interest}}</h4>
        <section class="my-techs">
            <figure>
                <img src="{{&img.path}}/{{img.logos}}/nodejs-logo.svg?v={{&version}}" alt="{{img.caption.node}}"
                     title="{{img.caption.node}}">
            </figure>
            <figure>
                <img src="{{&img.path}}/{{img.logos}}/vue-logo.svg?v={{&version}}" alt="{{img.caption.vue}}"
                     title="{{img.caption.vue}}">
            </figure>
        </section>
    </section>

    <h1 class="title-with-margin">{{basics.hobbies}}</h1>
    <section class="normal-padding">
        <figure>
            <img src="{{&img.path}}/{{img.logos}}/equitation-logo.svg?v={{&version}}" alt="{{img.caption.horse}}"
                 title="{{img.caption.horse}}">
        </figure>
    </section>

</section>
</body>
</html>
