$screen-size: 500px;
$img-size: 40px;
$blue-font: #428bca;
$black-color: #000;
$blue-gradient-1: #d8f8ff;
$blue-gradient-2: #aee5ef;
$light-gray: #f1f1f1;

@mixin dimensions($height, $width) {
  height: $height;
  width: $width;
}

@mixin cust-flex($direction, $wrap) {
  display: inline-flex;
  flex-flow: $direction $wrap;
}

@mixin responsive-img($size) {
  @media screen and (min-width: $screen-size) {
    height: $size;

    &.my-look {
      height: $size + 30px;
    }
  }
  @media screen and (max-width: $screen-size) {
    height: $size - 20px;

    &.my-look {
      height: $size + 20px;
    }
  }
}

@mixin img-style {

  img {
    @include responsive-img($img-size);
    margin: 2px;

    &.my-look {
      @include responsive-img($img-size + 15px);
      border: 1px $black-color solid;
    }

    &.contact {
      @include responsive-img($img-size - 10px);
    }
  }

  .cust-img {
    @include responsive-img($img-size);
    padding: 5px;
  }
}

@mixin responsive-font($font-size) {
  @media screen and (min-width: $screen-size) {
    font-size: $font-size;
  }
  @media screen and (max-width: $screen-size) {
    font-size: $font-size - 2px;
  }
}

