$screen-width: 500px;
$screen-height: 615px;
$img-size: 40px;
$blue-font: #428bca;
$black-color: #000;
$blue-gradient-1: #d8f8ff;
$blue-gradient-2: #aee5ef;
$light-grey: #d3d3d3;
$normal-font: 18px;
$normal-padding: 10px;
$white-color: #fff;

@mixin dimensions($height, $width) {
  height: $height;
  width: $width;
}

@mixin cust-flex($direction, $wrap) {
  display: inline-flex;
  flex-flow: $direction $wrap;
}

@mixin responsive-img($size, $num-px) {
  @media screen and (min-width: $screen-width) and (min-height: $screen-height) {
    height: $size;
  }
  @media screen and (max-width: $screen-width), screen and (max-height: $screen-height) {
    height: $size - $num-px;
  }
}

@mixin img-style {

  figure {
    padding: 3px;

    &.left-padding {
      padding-left: $normal-padding;
    }

    img {
      @include responsive-img($img-size, 5px);

      &.my-look {
        border: 1px $black-color solid;
        border-radius: 90px;
        @include responsive-img(155px, 15px);
      }
    }
  }
}

@mixin responsive-font($font-size) {
  @media screen and (min-width: $screen-width) and (min-height: $screen-height) {
    font-size: $font-size;
  }
  @media screen and (max-width: $screen-width), screen and (max-height: $screen-height) {
    font-size: $font-size - 4px;
  }
}

%bigger-font {
  @include responsive-font($normal-font + 4px);

  & > * {
    @include responsive-font($normal-font + 4px);
  }
}

.big-bottom-padding {
  padding-bottom: $normal-padding + 10px;
}

.bigger-font-with-padding {
  @extend %bigger-font;
  @media screen and (min-width: $screen-width) and (min-height: $screen-height) {
    padding: $normal-padding 0;
  }
  @media screen and (max-width: $screen-width), screen and (max-height: $screen-height) {
    padding: 5px 0;
  }
}

.blue-font {
  color: $blue-font;
  padding-bottom: $normal-padding;
  @include responsive-font($normal-font + 2px);

  & > * {
    @include responsive-font($normal-font + 2px);
  }
}

.bottom-padding {
  padding-bottom: $normal-padding;
}

%classic-title {
  @extend %bigger-font;

  background-color: $light-grey;
  padding: $normal-padding;
}

.grey-background {
  background-color: $light-grey;
}

.italic-font {
  font-style: italic;
  padding-top: 5px;
}

.normal-padding {
  padding: $normal-padding;
}

.blue-pin {
  background-color: $blue-font;
  border-radius: 8px;
  color: $white-color;
  display: inline-block;
  font-weight: bold;
  margin: 5px 5px 5px 0;
  padding: 1px 5px;
  white-space: nowrap;
}

.small-padding {
  padding: 5px 0;
}

.subtitle {
  padding: $normal-padding;

  @include responsive-font($normal-font + 1px);

  & > * {
    @include responsive-font($normal-font + 1px);
  }
}

.title {
  @extend %classic-title;
}

.title-with-margin {
  @extend %classic-title;

  margin: $normal-padding 0;
}


