$screen-size: 500px;
$img-size: 40px;
$blue-font: #428bca;
$black-color: #000;
$blue-gradient-1: #d8f8ff;
$blue-gradient-2: #aee5ef;
$normal-font: 18px;
$normal-padding: 10px;
$orange-color: #ffa500;
$white-color: #fff;

@mixin dimensions($height, $width) {
  height: $height;
  width: $width;
}

@mixin cust-flex($direction, $wrap) {
  display: inline-flex;
  flex-flow: $direction $wrap;
}

@mixin responsive-img($size) {
  @media screen and (min-width: $screen-size) {
    height: $size;
  }
  @media screen and (max-width: $screen-size) {
    height: $size - 20px;
  }
}

@mixin img-style {

  img {
    @include responsive-img($img-size);
    margin: 2px;

    &.my-look {
      border: 1px $black-color solid;
      border-radius: 90px;
      height: 155px;
    }
  }
}

@mixin responsive-font($font-size) {
  @media screen and (min-width: $screen-size) {
    font-size: $font-size;
  }
  @media screen and (max-width: $screen-size) {
    font-size: $font-size - 2px;
  }
}

.bigger-font {
  @include responsive-font($normal-font + 4px);

  & > * {
    @include responsive-font($normal-font + 4px);
  }
}

.blue-font {
  color: $blue-font;
  @include responsive-font($normal-font + 2px);

  & > * {
    @include responsive-font($normal-font + 2px);
  }
}

.bold-font {
  font-weight: bold;
  @include responsive-font($normal-font + 1px);

  & > * {
    @include responsive-font($normal-font + 1px);
  }
}

.italic-font {
  font-style: italic;
}


.padding-bot {
  padding-bottom: $normal-padding;
}

.padding-top {
  padding-top: $normal-padding;
}

.padding-cust {
  padding: $normal-padding 0;
}

.left-padding {
  padding-left: $normal-padding;
}

.orange-pin {
  background-color: $orange-color;
  border-radius: 8px;
  color: $white-color;
  display: inline-block;
  font-weight: 500;
  margin: 5px 5px 5px 0;
  padding: 1px 5px;
  white-space: nowrap;
}

.space-nowrap {
  white-space: nowrap;
}
