@import 'custMixins';

* {
  box-sizing: border-box;
  font-family: 'Courier New', sans-serif;
  line-height: 28px;
  margin: 0;
  padding: 0;

  @include responsive-font($normal-font);

  ul,
  li {
    list-style-type: none;
  }

}

html {

  height: 100%;
  overflow: hidden;
  width: 100%;

  .my-resume {

    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow: hidden;
    width: 100%;

    @include img-style;

    @media screen and (min-width: $screen-width) and (min-height: $screen-height) {
      @include cust-flex(row, nowrap);
    }

    @media screen and (max-width: $screen-width), screen and (max-height: $screen-height) {
      .padding-responsive {
        padding-left: 5px;
      }
    }

    .left-part {

      background: linear-gradient(to right, $blue-gradient-1, $blue-gradient-2);
      padding: $normal-padding;

      @include cust-flex(column, nowrap);

      @media screen and (min-width: $screen-width) and (min-height: $screen-height) {

        @include dimensions(100%, 200px);

        .desktop-typing {
          animation: type 3s steps(60, end);
          overflow: hidden;
          white-space: nowrap;
          width: 100%;
        }
      }

      @media screen and (max-width: $screen-width), screen and (max-height: $screen-height) {

        @include dimensions(150px, 100%);

        .responsive-row {
          @include cust-flex(row, nowrap);
        }

        .responsive-center {
          justify-content: center;
        }

        .responsive-column {
          @include cust-flex(column, nowrap);
        }

        .responsive-hide {
          display: none;
        }

      }
    }

    .print-img {
      display: none;
    }

    .right-part {

      overflow-y: auto;

      .description {
        &:first-child {
          padding-bottom: 5px;
        }

        &:last-child {
          padding-top: 5px;
        }
      }

      .my-techs {
        @include cust-flex(row, nowrap);
        align-items: center;
      }

      @media screen and (min-width: $screen-width) and (min-height: $screen-height) {
        @include dimensions(100%, calc(100% - 200px));
      }

      @media screen and (max-width: $screen-width), screen and (max-height: $screen-height) {
        @include dimensions(calc(100% - 150px), 100%);
      }

    }

    @media print {
      .left-part, .right-part {
        display: none;
      }

      .print-img {
        display: block;
        text-align: center;
      }
    }

  }

}

