@import 'custMixins';

* {
  box-sizing: border-box;
  font-family: 'Courier New', sans-serif;
  margin: 0;
  padding: 0;

  @include responsive-font(12px);
}

html {

  height: 100%;
  overflow: hidden;
  width: 100%;

  body {
    &.my-resume {

      -webkit-overflow-scrolling: touch;
      height: 100%;
      overflow: hidden;
      width: 100%;

      @media screen and (min-width: $screen-size) {
        @include cust-flex(row, nowrap);
      }

      @include img-style;

      .bigger-font {
        @include responsive-font(16px);
      }

      .bold-font {
        font-weight: bold;
        @include responsive-font(13px);
      }

      .italic-font {
        font-style: italic;
      }

      .padding-5 {
        padding: 5px;
      }

      .padding-bot {
        padding-bottom: 5px;
      }

      .padding-top {
        padding-top: 5px;
      }

      .padding-cust {
        padding: 5px 0;
      }

      .blue-font {
        color: $blue-font;
      }

      .space-nowrap {
        white-space: nowrap;
      }

      .padding-responsive {
        @media screen and (max-width: $screen-size) {
          padding-left: 10px;
        }
      }

      p,
      li {
        text-align: justify;
      }

      .subtitle {

        @media screen and (min-width: $screen-size) {
          padding: 8px 5px 8px 0;
        }
        @media screen and (max-width: $screen-size) {
          padding: 2px 5px 5px 0;
        }

        white-space: nowrap;
      }

      section {
        &.my-techs {
          @include cust-flex(row, nowrap);

          @media screen and (min-width: $screen-size) {
            align-items: center;
            justify-content: center;
          }
        }
      }

      .left-part {

        @media screen and (min-width: $screen-size) {

          @include dimensions(100%, 300px);
        }

        @media screen and (max-width: $screen-size) {

          @include dimensions(232px, 100%);

          .responsive-row-header {
            @include cust-flex(row, nowrap);
          }

        }

        background: linear-gradient(to right, $blue-gradient-1, $blue-gradient-2);

        padding: 5px;

        .bottom-part {
          @include cust-flex(row, nowrap);
          width: 100%;

          &.second-col {
            align-items: center;
            justify-content: flex-end;
          }
        }

      }

      .right-part {

        background-color: $light-gray;

        @media screen and (min-width: $screen-size) {
          @include dimensions(100%, calc(100% - 300px));
        }
        @media screen and (max-width: $screen-size) {
          @include dimensions(calc(100% - 232px), 100%);
        }

        overflow-y: auto;

        padding: 5px;

      }

    }
  }
}

@media print {
  body {
    display: none;
  }
}

