@import 'custMixins';

* {
  box-sizing: border-box;
  font-family: 'Courier New', sans-serif;
  line-height: 28px;
  margin: 0;
  padding: 0;

  @include responsive-font($normal-font);

  ul,
  li {
    list-style-type: none;
  }

}

html {

  height: 100%;
  overflow: hidden;
  width: 100%;

  body {
    &.my-resume {

      -webkit-overflow-scrolling: touch;
      height: 100%;
      overflow: hidden;
      width: 100%;

      @include img-style;

      p,
      li {
        text-align: justify;
      }

      section {
        &.my-techs {
          @include cust-flex(row, wrap);
        }
      }

      @media screen and (min-width: $screen-size) {
        @include cust-flex(row, nowrap);

        section {
          &.my-techs {
            align-items: center;
            justify-content: flex-start;
          }
        }
      }

      @media screen and (max-width: $screen-size) {
        .padding-responsive {
          padding-left: $normal-padding;
        }
      }

      .left-part {

        background: linear-gradient(to right, $blue-gradient-1, $blue-gradient-2);
        padding: $normal-padding;

        @include cust-flex(column, nowrap);

        @media screen and (min-width: $screen-size) {

          @include dimensions(100%, 300px);
        }

        @media screen and (max-width: $screen-size) {

          @include dimensions(270px, 100%);

          .responsive-row {
            @include cust-flex(row, nowrap);
          }

          .responsive-center {
            justify-content: center;
          }

          .responsive-column {
            @include cust-flex(column, nowrap);
          }

          .responsive-hide {
            display: none;
          }

        }
      }

      .right-part {

        overflow-y: auto;

        @media screen and (min-width: $screen-size) {
          @include dimensions(100%, calc(100% - 300px));
        }

        @media screen and (max-width: $screen-size) {
          @include dimensions(calc(100% - 270px), 100%);
        }

      }

    }
  }
}

@media print {
  body {
    display: none;
  }
}

