* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif; }
  @media screen and (min-width: 500px) {
    * {
      font-size: 12px; } }
  @media screen and (max-width: 500px) {
    * {
      font-size: 10px; } }

body.my-resume {
  width: 100vw;
  height: 100vh; }
  @media screen and (min-width: 500px) {
    body.my-resume {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: flex-start; } }
  @media screen and (max-width: 500px) {
    body.my-resume {
      display: inline-flex;
      flex-flow: column nowrap;
      align-items: flex-start; } }
  body.my-resume img {
    margin: 2px; }
    @media screen and (min-width: 500px) {
      body.my-resume img {
        height: 40px; } }
    @media screen and (max-width: 500px) {
      body.my-resume img {
        height: 20px; }
        body.my-resume img.my-look {
          height: 70px; } }
    body.my-resume img.my-look {
      border: 1px black solid; }
      @media screen and (min-width: 500px) {
        body.my-resume img.my-look {
          height: 55px; } }
      @media screen and (max-width: 500px) {
        body.my-resume img.my-look {
          height: 35px; }
          body.my-resume img.my-look.my-look {
            height: 85px; } }
  body.my-resume .cust-img {
    padding: 5px; }
    @media screen and (min-width: 500px) {
      body.my-resume .cust-img {
        height: 40px; } }
    @media screen and (max-width: 500px) {
      body.my-resume .cust-img {
        height: 20px; }
        body.my-resume .cust-img.my-look {
          height: 70px; } }
  @media screen and (min-width: 500px) {
    body.my-resume .bigger-font {
      font-size: 13px; } }
  @media screen and (max-width: 500px) {
    body.my-resume .bigger-font {
      font-size: 11px; } }
  body.my-resume .bold-font {
    font-weight: bold; }
  body.my-resume .italic-font {
    font-style: italic; }
  body.my-resume .centered-text {
    text-align: center;
    padding: 5px; }
  body.my-resume .padding-5 {
    padding: 5px; }
  body.my-resume .padding-bot {
    padding-bottom: 5px; }
  body.my-resume .padding-top {
    padding-top: 5px; }
  body.my-resume .padding-cust {
    padding: 5px 0 5px 0; }
  body.my-resume .blue-font {
    color: #428bca; }
  body.my-resume p, body.my-resume li {
    text-align: justify; }
  body.my-resume .subtitle {
    text-align: center;
    white-space: nowrap; }
    @media screen and (min-width: 500px) {
      body.my-resume .subtitle {
        padding: 15px 5px 10px 5px; } }
    @media screen and (max-width: 500px) {
      body.my-resume .subtitle {
        padding: 5px; } }
    @media screen and (min-width: 500px) {
      body.my-resume .subtitle {
        font-size: 13px; } }
    @media screen and (max-width: 500px) {
      body.my-resume .subtitle {
        font-size: 11px; } }
  body.my-resume section.my-techs {
    display: inline-flex;
    flex-flow: row nowrap; }
    @media screen and (min-width: 500px) {
      body.my-resume section.my-techs {
        align-items: center;
        justify-content: center; } }
    @media screen and (max-width: 500px) {
      body.my-resume section.my-techs {
        align-items: flex-start;
        justify-content: flex-start; } }
  body.my-resume .left-part {
    background: linear-gradient(to right, #d8f8ff, #aee5ef); }
    @media screen and (min-width: 500px) {
      body.my-resume .left-part {
        display: inline-flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        border-right: 1px black solid;
        height: 100%;
        width: 300px; } }
    @media screen and (max-width: 500px) {
      body.my-resume .left-part {
        display: inline-flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: 1px black solid;
        height: 230px;
        width: 100%; }
        body.my-resume .left-part .responsive-column-header {
          display: inline-flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          justify-content: flex-start;
          flex: 1; }
        body.my-resume .left-part .responsive-row-header {
          display: inline-flex;
          flex-flow: row nowrap;
          align-items: flex-start;
          justify-content: flex-start; } }
    body.my-resume .left-part .bottom-part {
      flex: 1 1 0;
      width: 100%;
      display: inline-flex;
      flex-flow: row nowrap; }
      @media screen and (min-width: 500px) {
        body.my-resume .left-part .bottom-part {
          align-items: center;
          justify-content: center; } }
      @media screen and (max-width: 500px) {
        body.my-resume .left-part .bottom-part {
          align-items: flex-start;
          justify-content: flex-start; } }
      body.my-resume .left-part .bottom-part .bottom-col {
        text-align: center;
        height: 60px; }
        body.my-resume .left-part .bottom-part .bottom-col .second-row {
          height: 40px;
          display: inline-flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center; }
        body.my-resume .left-part .bottom-part .bottom-col .space-nowrap {
          white-space: nowrap; }
  body.my-resume .right-part {
    overflow-y: auto;
    padding: 5px;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start; }
    @media screen and (min-width: 500px) {
      body.my-resume .right-part {
        height: 100%;
        width: calc(100% - 300px); } }
    @media screen and (max-width: 500px) {
      body.my-resume .right-part {
        height: calc(100% - 230px);
        width: 100%; } }
